# Docker
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# Data and Logs
data/
logs/
Downloads/
*.db
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
web-app/gunicorn.ctl

# Local Scripts & Artifacts
just.py
angara_afk_drission.py
angara_afk.user.js
vnc_*.png
web-app/downloaded_files/
web-app/debug_artifacts/
web-app/pw_debug_artifacts/
web-app/screenshots/